/* borderPane.css */
.center-pane {
    -fx-background-color: rgb(255, 255, 255);
    /* Background color */
    -fx-border-color: black;
    /* Border color */
    -fx-border-width: 2px;
    /* Border width */
}